.register {
    width: 37.5rem;
}

.form {
    background: white;
    padding: 4rem;
    box-shadow: 0rem .25rem 1.375rem rgba(52, 53, 65, 0.15);
    border-radius: 1.5rem;
}

.form__message {
    margin: 0 0 2.5rem 0;
}

.form__message h4 {
    display: block;
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 5rem;
    line-height: 5.125rem;
    letter-spacing: -0.01em;
    color: var(--gray-tuna);
}

.form__success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.form__success-message p {
    text-align: center;
    line-height: 21px;
    font-family: var(--main-font);
    font-size: 18px;
    color: #292A33;
}

.form__success-message h4 {
    display: block;
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 5rem;
    line-height: 5.125rem;
    letter-spacing: -0.01em;
    color: var(--gray-tuna);
    white-space: nowrap;
}

.form__message h4:nth-child(2) {
    color: var(--gray-jumbo);
    white-space: nowrap;
}

.form__label {
    margin-bottom: 24px;
    position: relative;
}

.form__label>label {
    color: #F47073;
    display: block;
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}

.form__label input {
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    padding: 17.5px 1.5rem;
    border-radius: .5rem;
    background: #F7F7F7;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3125rem;
    color: #343541;
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: ease-in .2s;
}

.form__label input:hover {
    background: #E5E5E5;
    transition: ease-in-out .3s;
}

.form input:focus {
    border: .0625rem solid #2F80ED;
    background: rgba(47, 128, 237, 0.1);
    outline: none;
}

.form input[type='password'] {
    font-weight: 800;
    letter-spacing: 0.2em;
}

.form input::placeholder {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
}

#form__password-frame {
    position: relative;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

#form__password-input {
    display: inline;
    width: 100%;
}

#form__password-input-eye {
    position: absolute;
    right: 1em;
    display: inline;
    cursor: pointer;
    transition: ease-in .2s;
    pointer-events: stroke;
    user-select: none;
}

#form__password-input-eye:hover {
    filter: drop-shadow(.1875rem .1875rem .5rem rgba(75, 75, 75, 0.842));
    transition: ease-in-out .3s;
}

.form aside {
    padding-bottom: 2.3rem;
    margin-top: -0.75rem;
}

.form aside p {
    line-height: 1.5rem;
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.04em;
}

.form aside>span {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 0 0;
    position: relative;
}

.form aside label {
    font-family: 'Roboto';
    font-size: 1.125rem;
    line-height: 1.3125rem;
    cursor: pointer;
}

.form aside label span {
    text-decoration: underline;
}

input[type='checkbox'i] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .5rem;
    margin-right: .75rem;
    transition: 120ms ease-in-out;
    cursor: pointer;
}

input[type='checkbox'i]:checked {
    padding: .1875rem;
    appearance: none;
    background: rgba(47, 129, 237, 0.548);
    box-shadow: 0 0 0 .25rem #fff inset;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .5rem;
    margin-right: .75rem;
    transition: 120ms ease-in-out;
}

input[type='checkbox'i]:focus {
    border: .0625rem solid #AEAEB3;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

@media screen and (max-width: 600px) {

    .register {
        width: 89vw;
    }

    .form__message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form__message h4 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .form__buttons {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

    .form {
        padding: 0;
        box-shadow: none;
    }

    .form input::placeholder {
        max-width: 200px;
    }

    .form aside {
        margin-top: 0;
    }

    .form__success-message {
        max-width: 88vw;
    }

    .form__success-message h4 {
        font-size: 40px;
    }

}

/* ERROR MESSAGE */

.error__message {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 0.875rem;
    padding: 0 4px;
    color: #F47073;
    font-family: var(--second-font);
}