@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

/* VARIABLES */

:root {
  --cherry-red: #EC1115;
  --gray-tuna: #343541;
  --gray-jumbo: #85868D;
  --title-font: 'Eczar', serif;
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Roboto Mono', monospace;
}


/* ATOMIC COMPONENTS */

.button {
  display: inline-block;
  border: none;
  background: var(--cherry-red);
  color: #fff;
  width: 50%;
  padding: 19px 0;
  cursor: pointer;
  border-radius: 4rem;
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.015em;
  text-align: center
}

.button:hover {
background: #A60C0E;
}

.button:active {
/*   border: 5px solid #F47073; */
  box-shadow:0 0 0 5px #F47073 inset;
}

.button--login {
  display:inline-block;
  width: 50%;
  padding: 19px 0;
  color: var(--cherry-red);
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.015em;
  text-align: center
}